<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <p>Someone has filled out an "Advertise With Us" contact form. Here's the form:</p>
    <table border="0">
      <tr>
        <td><strong>Name:</strong></td>
        <td><%= @name %></td>
      </tr>
      <tr>
        <td><strong>E-Mail:</strong></td>
        <td><%= @email %></td>
      </tr>
      <tr>
        <td><strong>Phone:</strong></td>
        <td><%= @phone %></td>
      </tr>
      <tr>
        <td><strong>Company:</strong></td>
        <td><%= @company %></td>
      </tr>
      <tr>
        <td><strong>City:</strong></td>
        <td><%= @city %></td>
      </tr>
    </table>

    <p>Thank you and have a great day!<br/>
       The VenueDog Team
    </p>
  </body>
</html>
