#content.page.login.users.sessions_new
  %h2 Sign in to Venue Dog
  %p.fb.align_center
    %em Sign in with your Facebook account to get the most out of Venue Dog.
  %p.facebook_login= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
  .sign_up_or
    %p
      %span or
  = clear
  %p.fb.align_center
    %em Sign in with your Venue Dog Account.
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    / Error Message
    - if !flash[:alert].blank?
      .alert.alert-error
        %a.close{"data-dismiss" => "alert"} &times;
        = flash[:alert]
    %ul
      %li.half_width.left
        = f.label :email
        = f.email_field :email
      %li.half_width.left
        = f.label :password
        = f.password_field :password
      = clear_li
    = clear
    #sign_up_button.left
      = f.submit "Sign in", :class=>"btn btn-orange"
      - if devise_mapping.rememberable?
        = f.check_box :remember_me
        = f.label :remember_me
      #forgot_password= render :partial => "devise/shared/forgot_password"
    .devise_links.right
      = render :partial => "devise/shared/links"
