.featured_wrap
  / What to do Widget
  .widget.todo
    %h2 What to do...
    .callout
      .action
        %a.find{:href => events_path( @city ) }
          Find something
          %br
          to do
      .action
        %a.add_event{:href => new_event_path( @city )}
          Add an Event
          %span (it's free!)
      .action
        %a.modify_venue{:href => venues_path( @city ) } Browse Venues
      .action
        %a.advertise{:href => "/pages/advertise-with-us"}
          Advertise with
          %br>/
          Venue Dog

  / Featured Image Scroller
  .featured.widget
    %p.header Featured Events
    #feature.slider-wrapper.theme-default
      #slider.nivoSlider
        - if !@slides.empty?
          - @slides.each do |s|
            = link_to( image_tag( s.image.url, :alt => "Featured VenueDog Event"), s.url.blank? ? '#' : s.url )
        - else
          = link_to( asset_path('homepage_slider/default-slider.jpg'), events_path )
  = clear


#content.homepage

  - if !@featured_venue.blank?
    / Featured Venue Widget
    .featured_venue.widget.dark_blue_gradient
      %h2 Featured Venue
      .callout.light_blue_gradient
        %h3= @featured_venue.name
        %p
          = image_tag @featured_venue.image? ? @featured_venue.image.url(:homepage_featured) : "http://placehold.it/230x150", :class=> "left"
          = truncate( strip_tags( @featured_venue.description ), :length => 150 ).html_safe
          %span.bottom_right= link_to "Read More", venue_path(@city, @featured_venue)
        = clear


  / Featured Events Widget
  .popular_events
    %h2 Popular Events
    %ul.unstyled
      - @city.events.popular_homepage.each do |e|
        %li
          %p
            = image_tag e.image? ? e.image.url(:featured_small) : default_image(e.categories, "42x42"), :class=>"left shadow"
            = link_to e.name, event_path(e.city, e)
            %span= e.start_time.strftime('%A, %b. %d %Y ')
          = clear
    = clear
  = clear


  / Categories and Events table
  .categories.category_table
    - @categories.each_with_index do |cat, i|
      %ul{:class => "category left category_row#{if i < 4 then "1" else "2" end}"}
        %li.title.orange_gradient= link_to cat.name, category_path(@city, cat)
        - ev = get_events(cat)
        - if ev.length > 0
          - ev.each do |e|
            %li.event
              = link_to e.name, event_path(e.city, e)
              %span= e.start_time.strftime("%A, %B %e @ %l:%M %p ")
          %li.foot= link_to "See All", category_path(@city, cat)
      = clear if (i+1).modulo(4) == 0
  = clear


= render "/shared/sidebar"
= render :partial => 'shared/default_opengraph', :locals => {:current_page_title => "Venue Dog" }
